body{
	margin: 0px;
	padding: 0px;
}

#root{
	margin: 0px;
}

#Boards{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#Boards button{
	padding: 0px;
}

.Board{
	border-radius: 20px;
	background-color: red;
	display: inline-block;
}

.Board h3, .Board h4{
	margin: 20px;
}

.Board:hover{
	cursor: pointer;
}

h3, h4{
	margin: 0px;
}


#Columns{
	width: 100vw;
	height: 80vh;
	margin: 20px 0vh 0px 0px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.Column{
	margin-right: 3vw;
	margin-left: 3vw;
	width: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Task{
	border: 2px solid red;
	margin: 1vh 0vh 1vh 0vh;
}

#Nav
{
	width: 100vw;
	height: 5vh;
	background-color: red;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

#Nav h2{
	position: relative;
	left: 15px;
}

a{
	text-decoration: none;
	color: black;
}